<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand fw-bold" href="{% url 'TiendaLibre:home' %}">
            TiendaLibre
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link{% if request.resolver_match.url_name == 'home' %} active{% endif %}" href="{% url 'TiendaLibre:home' %}">
                        Inicio
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link{% if request.resolver_match.url_name == 'acerca_de_mi' %} active{% endif %}" href="{% url 'TiendaLibre:acerca_de_mi' %}">
                        Acerca de mí
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link{% if request.resolver_match.url_name == 'catalogo' %} active{% endif %}" href="{% url 'TiendaLibre:catalogo' %}">
                        Catalogo
                    </a>
                </li>

            </ul>

        </div>
    </div>
</nav>