<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #1a1a1a;
            color: white;
            text-align: center;
            padding: 20px;
        }
        
    </style>
    
</head>
<body>
{% for producto in productos %}
    <div>
        <h2>{{ producto.nombre }}</h2>

        <p>{{ producto.descripcion }}</p>

        <p>${{ producto.precio }}</p>

        {% if producto.imagen %}
            <img src="{{ producto.imagen.url }}" width="300">
        {% else %}
            <p>Sin imagen</p>
        {% endif %}

        <hr>
    </div>
{% endfor %}

</body>
</html>